h1 {
	text-align: center;
	font-size: 3em;
	border-style: solid;
	border-radius: 20px;
	border-width: 8px;
	background-color: red;
}


body {
	background-image: url("baseball2.jpg");
}

.maingraphs {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 35%;
}

/*#pitcher {
	float: left;
}

#batter {
	float: right;
}
*/
.smallgraphs {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 35%;
}